<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button dafaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Ver más.</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title color="secondary">¿Qué es el patriarcado?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/j0hnBF9OWOg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title color="secondary"> Amor, cuidado y trabajo doméstico</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/IdoLlClIPjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title color="secondary"> Noviazgos violentos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/pbKsq94aHqw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title color="secondary"> Violencias machistas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/nDntugjhoxM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-card-content>
    </ion-card>

</ion-content>